/* --- Buttons --- */
.buttonStyle {
  padding: 7px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  border: none;
  cursor: pointer;
  color: var(--gray-100);
  margin: 3px;
}

.buttonStyle:focus {
    outline: solid 2px var(--blue-400);
    outline-offset: 2px;
}

/* ---- Variations ---- */

/* primary button */
.primaryActionButton{
    background-color: var(--blue-400);
}

.primaryActionButton:hover{
    background-color: var(--blue-700);
}


/* Secondary button */
.secondaryActionButton{
    background-color: var(--navy-700);
}

.secondaryActionButton:hover{
    background-color: var(--gray-800);
}


/* Tertiary button */
.tertiaryActionButton{
    background-color: var(--mint-dark);
}

.tertiaryActionButton:hover{
    background-color: var(--mint-darkest);
}


/* warning button */
.warningActionButton{
    color: var(--yellow-darkest);
    background-color: var(--yellow-marigold);
}

.warningActionButton:hover{
    background-color: var(--yellow-dark);
}


/* negative button */
.negativeActionButton{
    background-color: var(--red-error);
}

.negativeActionButton:hover{
    background-color: var(--red-dark);
}

/* disabled button */

.disabledActionButton{
    color: var(--gray-500);
    background-color: var(--gray-300);
    cursor: not-allowed;
}

.disabledActionButton{
    outline: none !important;
}