:root {
  /* --- Ink (Text) --- */
  --primary-ink: #142029;
  --secondary-ink: #2C3A4A;
  --tertiary-ink: #556178;

  /* --- Background --- */
  --gray-100: #ffffff; /* use this instead of white */

  /* --- UI Elements (Grays) --- */
  --gray-200: #EBEFF5;
  --gray-300: #E1E9F2;
  --gray-400: #CFD7E3;
  --gray-500: #A0ACBD;
  --gray-600: #7A889E;

  /* --- Action - Primary (Blues) --- */
  --blue-100: #EBF7FF;
  --blue-200: #BEE0F8;
  --blue-300: #90CAF4;
  --blue-400: #2F9DED;
  --blue-500: #0079CD;
  --blue-600: #004FA1;
  --blue-700: #004C82;
  --blue-800: #003B65;

  /* --- Secondary (Navys) --- */
  --navy-300: #99ABBE;
  --navy-700: #1f4974;
  --navy-800: #163352;

  /* --- Tertiary (Mints) --- */
  --mint-light: #B2F5F2;
  --mint-medium: #51C9C7;
  --mint-dark: #2C7A7B;
  --mint-darkest: #285E61;

  /* --- Positive (Greens) --- */
  --green-light: #9AE6B4;
  --green-confirmation: #2F855A;

  /* --- Warning (Yellows) --- */
  --yellow-light: #FFE999;
  --yellow-marigold: #FFC701;
  --yellolw-dark: #744210;

  /* --- Negative (Reds) --- */
  --red-light: #FEB5B2;
  --red-error: #C53530;
  --red-dark: #742C2A;
}