.section-card {
  box-shadow: 
    0px 0px 2px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.24);
}

.card{
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
}

.card:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.24);
}

.dropdown-menu {
  box-shadow:
    0px 0px 2px rgba(0, 0, 0, 0.12),
    0px 8px 8px rgba(0, 0, 0, 0.24);
}

.navigation-drawer {
  box-shadow: 
    0px 0px 2px rgba(0, 0, 0, 0.12),
    8px 0px 16px rgba(0, 0, 0, 0.24);
}

.modal {
  box-shadow: 
    0px 0px 2px rgba(0, 0, 0, 0.12),
    0px 24px 24px rgba(0, 0, 0, 0.24);
}