:root{
    border-radius: 0;
    font-family: 'Noto Sans', sans-serif !important;
}

/* --- Titles --- */
.title1 {
  font-weight: 700; /* bold */
  font-size: 56px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.title2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.title3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.title4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

/* --- Body/Paragraphs and Labels (Color inherits if not specified) --- */
.labelTextStyle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}

.bodyLarge {
  font-weight: 400; /* normal */
  font-size: 18px;
  line-height: 1.5;
}

.bodyRegular {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* --- Hyperlinks --- */
.baseHyperlink {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  color: var(--hyperlink-color);
}

.smallHyperlink {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: underline;
  color: var(--hyperlink-color);
}